body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.slider {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    padding: 20px 0;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.slider .slide {
    width: 14%;
    height: 100%;
    border-radius: 8px;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.5s ease-in-out;
}
.slider .active {
    width: 70%;
}
.slider .content {
    padding: 20px;
}



.slider .active .numbering{
    color: white;
}

.common-ul {
    list-style: none;
}
.common-ul li{
    padding: 5px 0;
}